/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
}

/* Estilo do container principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4caf50;
    color: white;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    padding: 20px;
}

.header h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 0 15px 0;
}

.header h1 img {
    display: block;
    max-height: 60px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
    display: block;
}


/* Navegação */
/* MOBILE (padrão) */
.navigation {
    display: none;
    flex-direction: column;
    /* empilhar links */
    width: 100%;
    /* ocupar toda a largura */
    gap: 10px;
    /* espaçamento entre links */
    margin-top: 10px;
}

.navigation.active {
    display: flex;
}


/* DESKTOP */
@media (min-width: 768px) {
    .navigation {
        display: flex !important;
        /* garante exibição */
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 0;
        width: auto;
    }

    /* esconder o botão no desktop */
    .menu-toggle {
        display: none;
    }
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    padding: 5px 0;
}

/* cria a linha, inicialmente escondida */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 0.3s ease;
}

/* hover: a linha cresce sem alterar texto */
.nav-link:hover::after {
    width: 100%;
}


/* CONFIG ENGRANAGEM */
.icon-btn {
    text-decoration: none;
    font-size: 26px;
    padding: 5px;
    color: white;
    transition: transform 0.2s ease;
}


.icon-btn:hover {
    transform: rotate(90deg);
}

/* CONFIG MEIA LUA */
.theme-toggle {
    font-size: 24px;
    /* aumenta o tamanho base do ícone */
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    color: white;
    cursor: pointer;

    /* Transição suave para transformações */
    transition: transform 0.2s ease;
}

.theme-toggle:hover {
    transform: rotate(90deg) scale(1.1);
    /* gira 180° e aumenta 30% */
}


.dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 1px 1px;
    text-decoration: none;
    margin: 5px 0;
    line-height: normal;
}

.dark-mode-toggle:hover {
    text-decoration: underline;
}

/* FOOTER */
.text-red-wine {
    --tw-text-opacity: 1;
    filter: hue-rotate(-20deg) saturate(150%);
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.github-icon {
    color: white;
    /* cor normal */
    transition: transform 0.2s;
}

.github-icon:hover {
    color: white;
    /* cor ao passar o mouse */
    transform: scale(1.1);
}

.linkding-icon {
    color: white;
    /* cor normal */
    transition: transform 0.2s;
}

.linkding-icon:hover {
    color: white;
    /* cor ao passar o mouse */
    transform: scale(1.1);
}


/* Ajustes responsivos */
@media (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .navigation {
        flex-direction: row;
        margin-top: 0;
    }

    .dark-mode-toggle {
        margin: 0 0px;
    }
}

/* Estilo da seção */
.section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #4caf50;
}

/* Estilo da tabela */
.table-wrapper {
    overflow-x: auto;
}

table {
    min-width: 600px;
    margin: auto;
}


table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Estilo dos inputs, selects e botões */
input,
select,
button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #5ab05d;
}

.chart-container {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* centraliza verticalmente */
    flex-direction: column;
    margin-top: 30px;
}

.chart-wrapper {
    display: flex;
    align-items: flex-start;
    /* canvas e lista lado a lado */
    gap: 50px;
    /* espaço entre gráfico e lista */
}

.chart-labels {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* espaço entre linhas de 3 labels */
}

.chart-labels .label-group {
    display: flex;
    gap: 15px;
    /* espaço entre cada label na linha */
}

/* Por padrão (mobile) o gráfico ocupa 100% do container) */
#graficoInvestimento {
    width: 100% !important;
    height: auto !important;
}

/* Em telas grandes (> 1200px), reduz o tamanho para 70% do container */
@media (min-width: 1200px) {
    #graficoInvestimento {
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

head.dark-mode {
    background-color: #333;
}

.negative {
    color: red;
    font-weight: bold;
}

.positive {
    color: blue;
    font-weight: bold;
}

.container.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.header.dark-mode {
    background-color: #333;
}

.nav-link.dark-mode {
    color: #e0e0e0;
}

button.dark-mode {
    background-color: #333;
    color: #e0e0e0;
}

button.dark-mode:hover {
    background-color: #555;
}

input.dark-mode,
select.dark-mode {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

table.dark-mode,
th.dark-mode,
td.dark-mode {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

footer.dark-mode {
    background-color: #333;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4caf50;
    color: white;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 0 0 8px 8px;
}

.copyright {
    text-align: center;
    /* centraliza horizontalmente */
    color: #4caf50;
    /* cor combinando com o footer, opcional */
    margin: 10px 0;
    /* espaço acima e abaixo */
    font-size: 14px;
    /* opcional: tamanho menor */
}


/* Estilos específicos para login e registro */
.login-container,
.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

.login-container h2,
.register-container h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-container label,
.register-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input,
.register-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button,
.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover,
.register-container button:hover {
    background-color: #0056b3;
}

.register-link,
.login-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a,
.login-link a {
    color: #4caf50;
    text-decoration: none;
}

.register-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}

/* Estilos específicos para mensagens flash */
.flashes {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    max-width: 1200px;
}

.flash {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.flash.info {
    background-color: #d9edf7;
    color: #31708f;
}

.flash.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.flash.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.flash.error {
    background-color: #f2dede;
    color: #a94442;
}

#calendar-container {
    margin: 0px;
}

#calendar {
    max-width: 1000px;
    margin: 0 auto;
}