<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MyFinances</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/wallet.png') }}" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">

</head>
  <div class="header">
      <h1>
          <img src="/static/img/wallet.png" alt="Logo" width="64" height="51" />
          <strong>Minha Carteira</strong>
      </h1>       
      <div class="header-icons">
          <a href="{{ url_for('main.config') }}" class="icon-btn" title="Configurações">⚙</a>
          <button id="dark-mode-toggle" class="theme-toggle" title="Alternar modo escuro">◐</button>
      </div>         
  </div>
<body>
    <div>
      <!-- Botão de menu mobile botão listinha mobile-->
      <button class="menu-toggle">&#9776;</button>
      <!-- Navegação -->
      <nav class="navigation">
          <a href="{{ url_for('main.dashboard') }}" class="nav-link">Dashboard</a>
          <a href="{{ url_for('main.calendar') }}" class="nav-link">Calendário</a>
          <a href="{{ url_for('main.transaction_history') }}" class="nav-link">Transações</a>
          <a href="{{ url_for('main.transaction_management') }}" class="nav-link">Tipos de Transações</a>
          <a href="{{ url_for('main.simulador_invest') }}" class="nav-link">Simulador Investimentos</a>
          <a href="{{ url_for('main.saving_goal') }}" class="nav-link">Metas de Economia</a>
          <a href="{{ url_for('main.logout') }}" class="nav-link">Sair</a>   
      </nav>      
    </div>   
    
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      const toggle = document.querySelector(".menu-toggle");
      const nav = document.querySelector(".navigation");

      toggle.addEventListener("click", () => {
          nav.classList.toggle("active");
      });
    </script>
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
</body>

  <footer class="bg-white border-t py-1">
    <div class="text-center">
      <p class="text-lg text-gray-500 mb-2">
        Developed by Carol A.<span class="text-red-500 animate-pulse">❤️</span>
      </p>
      <a href="https://github.com/Carolalx" target="_blank" rel="noopener noreferrer" class="github-icon"
        aria-label="GitHub">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
          <path
            d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4">
          </path>
          <path d="M9 18c-4.51 2-5-2-7-2"></path>
        </svg>
      </a>

      <a href="https://www.linkedin.com/in/caroline-a-232a62333/" arget="_blank" rel="noopener noreferrer"
        class="github-icon" aria-label="LinkedIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
          <rect width="4" height="12" x="2" y="9"></rect>
          <circle cx="4" cy="4" r="2"></circle>
        </svg>
      </a>
    </div>
  </footer>

<p class="copyright">&copy; 2026 Todos os direitos reservados.</p>

</html>