{% extends "base.html" %}

{% block content %}
<main class="container">
  <section class="form-container card" aria-labelledby="sim-title">
    <h1 id="sim-title">Simulador de Rentabilidade (Juros Compostos)</h1>

    <form id="simuladorForm" class="form-body" autocomplete="off">
      <div class="input-group">
        <h3 class="input-help">Com quanto você quer começar?</h3>
        <label for="starting_capital"></label>
        <input id="starting_capital" type="number" min="0" step="0.01" required>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->   
      </div>

      <div class="input-group">
        <h3 class="input-help">Quanto você pretende investir mensalmente?</h3>        
        <label for="contribution"</label>
        <input id="contribution" type="number" min="0" step="0.01" required>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->          
      </div>

      <div class="input-group">
        <h3 class="input-help">A cada 12 meses você quer aumentar seu aporte mensal em quantos (%)?</h3>   
        <label for="contribution_tax"></label>
        <input id="contribution_tax" type="number" step="0.01" value="0">
        <p class="input-help">Exemplo: caso comece com 100,00 todo mes e queira aumentar 10% informe 10 ->
        ano 1: 100,00; ano 2: 110,00; ano 3: 121,00; e assim por diante (...)
        Veja a tabela de evolução para entender melhor como funciona o aumento do aporte mensal.</p>
        <p class="input-help">Se não quiser aumentar o aporte, deixe 0</p>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->          
      </div>
      
      <div class="input-group">
        <h3 class="input-help">Taxa de Juros Anual (%)?</h3> 
        <input id="taxaJuros" type="number" step="0.01" required>        
        <label for="taxaJuros">Se não souber, informe 15 (padrão de taxa básica do mercado atual)</label>
        <p for="taxaJuros">💡Dica: Pesquise no Google "SELIC últimos 12 meses e tenha a taxa atualizada"</p>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->   
      </div>

      <div class="input-group">
        <label for="periodo">Período de Investimento (em Anos) || 💡Dica: Simule 30 anos para ver a tabela completa</label>
        <input id="periodo" type="number" min="1" step="1" required>
        <br>
        <br>
        <br>     
      </div>

      <button class="primary" type="submit">
        <i class="fa-solid fa-calculator"></i> Simular
      </button>
    </form>
    <h4> Perceba que a curva após o ano 20 é muito mais acentuada, isso acontece
       por conta do poder dos juros compostos.
    </h4>
    
    <h4> Aí você pode estar pensando: "Ah, mas eu não vou conseguir investir 
      por 20 anos, quem dirá 30..isso é muito tempo!" 
        E é verdade, mas o mais importante é começar o quanto antes, mesmo que
        seja com um valor pequeno. 
        O tempo é o melhor amigo do investidor, e quanto mais cedo começar, mais
        tempo seu dinheiro terá para crescer.
    </h4>

    <h4> Comece com uma meta de R$ 5.000,00... matenha a disciplina de separar algum valor
      TODOS os meses.. que seja R$ 50,00 (você consome isso em pizza que eu sei)!
      Depois dobre a meta... quando você chegar aos 
      R$ 50.000,00 você terá uma renda extra de R$ 500,00 aproximandamente... 
      Com R$ 100.000,00 você ja passa a receber R$ 1.000 todos os meses.. 
      Pense, já é parte de um carro / casa que você não precisa tirar do bolso... 👍
      é seu proprio dinheiro trabalhando pagar suas contas SEM MEXER NO PATRIMONIO! 🚀 
    </h4>    

    <div id="resultadoArea" class="resultado" style="display:none;">
      <h2>Resultado</h2>
      <p>Montante Final: <strong id="montanteFinal"></strong></p>
      <p>Valor Investido: <strong id="valorInvestido"></strong></p>      
      <p>Total de Juros: <strong id="totalJuros"></strong></p>
      <p>Renda Mensal Aproximada: <strong id="rendaMensal" style="color:#4fa3f7"></strong></p>

      <!-- Gráfico -->
      <div class="chart-wrapper">
          <canvas id="graficoInvestimento"></canvas>
      </div>
          <!-- Tabela de evolução -->
      <div class="table-container" style="margin-top:20px;">
        <table id="tabelaEvolucao" class="responsive-table">
          <thead>
            <tr>
              <th>Mês</th>
              <th>Patrimônio</th>
              <th>Aporte</th>
              <th>Renda Mensal</th>
            </tr>
          </thead>
          <tbody>
            <!-- Linhas serão preenchidas via JS -->
          </tbody>
        </table>
      </div>

    </div>

  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/simulador_invest.js') }}"></script>

{% endblock %}
