{% extends "base.html" %}

{% block content %}
<main class="container">
  <section class="form-container card" aria-labelledby="sim-title">
    <h1 id="sim-title">Simulador de Rentabilidade (Juros Compostos)</h1>

    <form id="simuladorForm" class="form-body" autocomplete="off">
      <div class="input-group">
        <h3 class="input-help">Valor que você tem investido ou com quanto quer começar?</h3>
        <label for="starting_capital">Capital Inicial:</label>
        <input id="starting_capital" type="number" min="0" step="0.01" required>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->   
      </div>

      <div class="input-group">
        <br>
        <br>
        <br>
        <h3 class="input-help">Quanto você pretende investir mensalmente?</h3>        
        <label for="contribution">Aporte Mensal:</label>
        <input id="contribution" type="number" min="0" step="0.01" required>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->          
      </div>

      <div class="input-group">
        <br>
        <br>
        <br>
        <h3 class="input-help">A cada 12 meses você quer aumentar seu aporte mensal em quantos por cento?</h3>   
        <label for="contribution_tax">Taxa Anual de Aumento do Aporte (%) </label>
        <p class="input-help">Exemplo: caso comece com 100,00 todo mes e queira aumentar 10% informe 10 ->
        ano 1: 100,00; ano 2: 110,00; ano 3: 121,00; e assim por diante (...)
        Veja a tabela de evolução para entender melhor como funciona o aumento do aporte mensal.</p>
        <input id="contribution_tax" type="number" step="0.01" value="0">
        <p class="input-help">Se não quiser aumentar o aporte, deixe 0</p>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->          
      </div>
      
      <div class="input-group">
        <br>
        <br>
        <br>
        <label for="taxaJuros">Taxa de Juros Anual (%) -- Se não souber, informe 15 (padrão SELIC atual)</label>
        <input id="taxaJuros" type="number" step="0.01" required>
        <br>
        <br>
        <br>
        <hr> <!-- linha separadora -->   
      </div>

      <div class="input-group">
        <br>
        <br>
        <br>
        <label for="periodo">Período de Investimento (Anos)</label>
        <input id="periodo" type="number" min="1" step="1" required>     
      </div>

      <button class="primary" type="submit">
        <i class="fa-solid fa-calculator"></i> Simular
      </button>
    </form>

    <div id="resultadoArea" class="resultado" style="display:none;">
      <h2>Resultado</h2>
      <p>Montante Final: <strong id="montanteFinal"></strong></p>
      <p>Total de Juros: <strong id="totalJuros"></strong></p>
      <p>Renda Mensal Aproximada: <strong id="rendaMensal" style="color:#4fa3f7"></strong></p>

      <!-- Gráfico -->
      <canvas id="graficoInvestimento" style="margin-top:20px; max-width:100%;"></canvas>
      <!-- Tabela de evolução -->
      <div class="table-container" style="margin-top:20px;">
        <table id="tabelaEvolucao" class="responsive-table">
          <thead>
            <tr>
              <th>Mês</th>
              <th>Patrimônio</th>
              <th>Aporte</th>
              <th>Renda Mensal</th>
            </tr>
          </thead>
          <tbody>
            <!-- Linhas serão preenchidas via JS -->
          </tbody>
        </table>
      </div>

    </div>

  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/simulador_invest.js') }}"></script>

{% endblock %}
